<div class="modifier">
  <div class="card" *ngFor="let info of myprofil$ | async">
    <div class="row">
      <div class="form-group col-6">

        <p>nom : {{info.name}}</p>
      </div>
      <div class="form-group col-6">
        <p>prenom : {{info.firstname}}</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <p>date de naissance : {{info.dateborne}}</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <p>adresse: {{info.address}}</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <p>code postal : {{info.cp}}</p>
      </div>
      <div class="form-group col-6">
        <p>Ville : {{info.ville}} </p>
      </div>
    </div>
    <!-- TO DO Ajouter les coordonnées email et mot de passe pour les modifier -->
    <button type="button" class="btn btn-danger col-2" (click)="deleteEdit()">Annuler saissie</button>
    <button type="button" class="btn btn-info col-2" (click)="editMyInfo()">Changer mes infos</button>
  </div>
</div>
