button {
  transition-duration: 0.3s;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  width: 80%;
}
img{
  width: 100%;
}
.telechargee{
  transform: translate(-50%, 120%);
}

button:hover {
  color: #53A0FD;
  background-color: #FFC66D;
}

app-navigation {
  position: absolute;
  height: 100%;
}