<div class="container-fluid text-secondary mt-5 " >
    <p class="float-left ml-5 col-xs-12 cp">
        <em class="">Copyright</em><span class="h5 font-weight-bold">©</span> 2018-2019 - Zakaria NYA - Tous droits réservés;
    </p>
  <ul class="list-inline float-right mr-5 col-xs-12 sitemap">
    <li class="list-inline-item" routerLink="/Accueil">Accueil</li>
    <li class="list-inline-item" routerLink="/APropos">A Propos</li>
    <li class="list-inline-item" routerLink="/Prix">Prix</li>
    <li class="list-inline-item" routerLink="/Contact">Contact</li>
  </ul>
  
  
</div>
