<div class="row d-flex flex-lg-row flex-md-row flex-sm-column col-12 text-center text-light">
  <div class="problematique" class="col-4">
    <img src="{{lavomatique}}" alt="" class="img-fluid">
    Face à l'immigration urbaine, face au panne, et pour les petits budgets... 
    Le problème du linge propres se pose de multiple façons. Alors on recours rapidement 
    au lavomatique du quartier. 
    Le problème est que souvent qu'on ne sait pas les situés, on ne sait pas si toutes les machines
    sont occupées, ou si le lavomatique est bon à fréquenter. 
  </div>
 <div class="notreidee" class="col-4">
   <img src="{{reseautage}}" alt="" class="img-fluid">
   Notre idée est de mettre un outil multifonctionnel de réseautage, de localisation et de prise en main rapide
   à la porter de tous. Parce qu'un téléphone se tient dans la poche. 
   Votre machine à laver aussi est dans votre poche. Nous avons voulus facilité 
   l'accès à tous aux lavomatique, pour que vous soyez informés de la disponibilité de l'équipement avant même que vous vous déplacer
  mais aussi de la propreté du lieu, ainsi que de la frequentation du lieu.
 </div>
 <div class="solution" class="col-4">
   <img src="{{experience}}" alt="" class="img-fluid">
   FindDry est là pour donner tout cela à la fois. 
   Outils de locationsation de lavomatique de la ville. 
   Il vous permet de noter les lavomatiques, de donner votre avis.
   Vous permet de partager aussi votre experience avec les habitants de votre 
   quartier. 
   C'est plus qu'un outils de dépannage de linge, c'est un outils de réseautage aussi. 
 </div>
</div>
