<div class="row app-section  col-12 text-dark mx-auto mt-5 pb-5">
  <h2 class="text-center text-light col-12">Laissez nous un message</h2>
  <form class="col-12 p-5 col-lg-8 mx-auto ">

        <div class="form-row ">
            <div class="form-group col-md-6">
              <label for="inputEmail4" class="text-light font-weight-bold">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4" class="text-light font-weight-bold">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
    <div class="form-group">
      <label for="email" class="text-light font-weight-bold">Votre email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="monemail@email.com">
    </div>
    <div class="form-group">
      <label for="message" class="text-light font-weight-bold">Message</label>
      <textarea class="form-control" name="message" id="message" rows="3" placeholder="Message"></textarea>
    </div>
    <button class="btnDry">Envoyez</button>
  </form>
</div>
