<div class="container-fluid header imgheader position-relative">
      <h1 class="animated zoomIn center text-light vendeur text-center position-absolute">FINDRY</h1>
  </div>
  <div class="row col-12" style="margin-top:10%;">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-5 pl-5 mx-auto text-center ">
      <h1 class="animated zoomIn mt-5 text-light mb-5">
        {{ title }}!
      </h1>
      <img src="{{imgLocalisation}}" class="animated zoomIn localisation img-fluid
  col-12" alt="">
    
    <!-- <div class="download text-center  col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="col-12 position-relative">
        <img src="{{imgLocalisationmin}}" class="animated zoomIn delay-10s imglocamin img-fluid position-absolute telechargee"
          style="width: 300px">
        <img src="{{imgMobile}}" class="animated infinite bounce position-absolute mt-5 delay-1s img-fluid mobile" alt="telephone avec FindDry">

        <button class="button btnDry telechargee raise hvr-grow position-absolute">
          {{telecharger}}
        </button>
        <button class=" button btnDry position-absolute">
          telecharger notre app !
        </button>
      </div>
    </div>
  </div>  -->
</div>