button {
  transition-duration: 0.3s;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  max-width: 350px !important;
}

.telechargee {
  transform: translate(-50%, 120%);
}

button:hover {
  color: #53A0FD;
  background-color: #FFC66D;
}

app-navigation {
  position: absolute;
  height: 100%;
  overflow-y: hidden;
}

.mobile {
  max-width: 400px !important;
}

.imgheader {
  width: 100%;
  height: 500px;
  background-image: url('../../../assets/img-content/source.gif');
  /* background-size: cover; */
  background-position: center;
}

.vendeur {
  font-size: 12rem;
  border: 20px solid #ffffff;
  padding: 30px;
  padding-left: 0 !important;
  color: #ffeaea !important;
  width: 100% !important;
}

.imglocamin {
  transition-duration: 0.3s;
  max-width: 400px !important;
}

.titre{
  color: #000000 !important;
  font-family: 'Catamaran', sans-serif;
  z-index: 10;
}


@media screen and (max-width: 880px) and (min-width: 800px) {
  .vendeur{
    font-size: 7.3rem;
  }
}
@media screen and (max-width: 800px){
  .vendeur{
    font-size: 10.3rem;
  }
  h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) and (min-width: 551px) {
  .vendeur{
    font-size: 7.3rem;
  }
}

@media screen and (max-width: 550px) {
  .vendeur{
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 320px) {
 

  .mobile {
    width: 280px !important;
    height: 550px;
    top: 20%;
    left: 2%;
  }
  .imglocamin {
    transition-duration: 0.3s;
    max-width: 250px !important;
  }

  button {
   margin-top:100%;
  }
}


.header{
  margin-top: 5% !important;
}

.infobulle {
  position: relative;
  cursor: help;
}
.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  background-color: #000000;
  padding:0 10px;
  border-radius:25px;
}


.localisation{
  z-index: 1;
}