<div class="container-fluid header imgheader position-relative">
      <h1 class="animated zoomIn center text-light vendeur text-center position-absolute">FindClean</h1>
  </div>
  <div class="row col-12" style="margin-top:5%;">
    <div class="row col-12 mx-auto text-center ">
      <h1 class="animated zoomIn  col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-5 mb-5 titre">
        {{ title }} <span class="infobulle text-light" aria-label="Prévoir minimum 5 heures après le ramassage">*</span>!</h1>
      <img src="{{imgLocalisation}}" style="height: 400px !important" class="animated zoomIn localisation img-fluid col-xs-12 col-sm-12 col-md-6 col-lg-6" alt="">
    <!-- <div class="download text-center  col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="col-12 position-relative">
        <img src="{{imgLocalisationmin}}" class="animated zoomIn delay-10s imglocamin img-fluid position-absolute telechargee"
          style="width: 300px">
        <img src="{{imgMobile}}" class="animated infinite bounce position-absolute mt-5 delay-1s img-fluid mobile" alt="telephone avec FindClean">

        <button class="button btnDry telechargee raise hvr-grow position-absolute">
          {{telecharger}}
        </button>
        <button class=" button btnDry position-absolute">
          telecharger notre app !
        </button>
      </div>
    </div>
  </div>  -->
</div>