<div class="row col-12 app-section mx-auto">

  <h2 class="text-center col-12 text-light">{{title}}</h2>
  <form class="col-12 mx-auto" [formGroup]="formCreate" (ngSubmit)="CreateCount()">
    <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" formControlName="nom"  >
        </div>
        <div class="form-group col-md-6">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom" formControlName="prenom">
        </div>
      </div> -->
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email" >
        </div>
        <!-- <div class="form-group col-md-6">
            <label for="confirmeEmail">Confirmez votre Email</label>
            <input type="email" class="form-control" name="confirmeEmail" id="confirmeEmail" placeholder="Confirmez Email" formControlName="email2">
          </div> -->
        <div class="form-group col-md-6">
          <label for="motDePasse">Mot de passe</label>
          <input type="password" class="form-control"  name="motDePasse" id="motDePasse" placeholder="Mot de passe" formControlName="mdp" >
        </div>
        <!-- <div class="form-group col-md-6">
            <label for="confirmezMotDePasse">Confirmez votre mot de passe</label>
            <input type="password" class="form-control" name="confirmezMotDePasse" id="confirmezMotDePasse" placeholder="Confirmer mot de passe" formControlName="mdp2">
        </div> -->
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formCreate.valid">Bienvenue !</button>
  </form>
</div>