<div class="row col-12 app-section mx-auto">

  <h2 class="text-center col-12 text-light mb-5 titre">{{title}}</h2>
  <form class="col-8 mx-auto" [formGroup]="formCreate" (ngSubmit)="CreateCount()">
  
    <div class="form-row">
        <div class="form-group col-md-6 ">
          <label for="email" class="textcolor fontCata">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email" >
        </div>
       
        <div class="form-group col-md-6 ">
          <label for="motDePasse" class="textcolor fontCata">Mot de passe</label>
          <input type="password" class="form-control"  name="motDePasse" id="motDePasse" placeholder="Mot de passe" formControlName="mdp" >
        </div>
        
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formCreate.valid">Bienvenue !</button>
  </form>
</div>