<div class="row d-flex flex-lg-row  header justify-content-md-between  flex-md-row flex-sm-column flex-xs-column justify-content-between col-12 text-center text-dark mx-auto mt-5  app-section">
  <h2 class="text-center col-12">A propos</h2>


 <div class="position-relative  col-md-4 col-xs-12 col-sm-10  histoire i mx-auto" >
    <div class="back-img">
  <img class="card-img-top" [src]="lavomatique" alt="Card image cap">
  </div>
  <div class="">
    <h5 class="card-title position-absolute text-light font-weight-bold">Solution</h5>
    <p class="card-text text-light">Laver son linge est une histoire de place, de situation, de temps.
      FrindDry vas vous faire gagner tout cela à la fois.
      Pour les grandes et petites occasions pressing, blachissage, et retouches peuvent aussi n'être qu'à un bout de doigt
    </p>
  </div>
</div>
<div class=" position-relative col-md-4 col-xs-12 col-sm-10 m-5  histoire i mx-auto" >
    <div class="back-img">
  <img class="card-img-top" [src]="reseautage" alt="Card image cap">
    </div>
  <div class="">
    <h5 class="card-title position-absolute text-light font-weight-bold">Nos Convictions</h5>
    <p class="card-text text-light ">Nous souhaitons aussi mettre en contacte nos clients.
      Nous sommes actuellement en train de travailler sur une solution qui permetterai un nouveau dating.
      Un espace d'échange entre clients, pour échanger des avis sur les laveries de proximités, ou pour echanger un verre.
    </p>
  </div>
</div>
<div class=" position-relative col-md-4 col-xs-12 col-sm-10  histoire i mx-auto" >
  <div class="back-img">
  <img class="card-img-top" [src]="experience" alt="Card image cap">
</div>
  <div class="">
    <h5 class="card-title position-absolute text-light font-weight-bold">Experience</h5>
    <div class="overlay">
    <p class="card-text text-light">
      FindDry est là pour donner tout cela à la fois. 
      Outils de locationsation de lavomatique de la ville vous permettant de les noter, et de donner votre avis. 
      C'est plus qu'un outils de dépannage de linge, c'est un outils de réseautage aussi.</p>
    </div>
  </div>
</div>
</div>
