<div class="row d-flex flex-lg-row  header justify-content-md-between  flex-md-row flex-sm-column flex-xs-column justify-content-between col-12 text-center text-light mx-auto mt-5  app-section">
  <h2 class="text-center col-12 text-secondary">A propos</h2>
 <div class="position-relative  col-md-4 col-xs-12 col-sm-10  histoire i mx-auto" >
    <div class="back-img">
  <img class="card-img-top" [src]="lavomatique" alt="Card image cap">
  </div>
  <div class="">
    <h5 class="card-title position-absolute text-light font-weight-bold">Solution</h5>
    <p class="card-text text-light">Laver son linge est une histoire de place, de situation, de temps.
      FrindDry vous fait gagner tout cela à la fois.
      Pour les grandes et petites occasions pressing, blachissage, et retouches peuvent aussi n'être qu'au bout de vos doigts
    </p>
  </div>
</div>
<div class=" position-relative col-md-4 col-xs-12 col-sm-10 m-5  histoire i mx-auto" >
    <div class="back-img">
  <img class="card-img-top" [src]="reseautage" alt="Card image cap">
    </div>
  <div class="">
    <h5 class="card-title position-absolute text-light font-weight-bold">Nos Convictions</h5>
    <p class="card-text text-light ">Nous souhaitons aussi mettre en contact nos clients.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet autem ducimus 
      harum dolorum commodi illum minima pariatur error, ut rem ea saepe facere porro eos modi inventore totam animi.
    </p>
  </div>
</div>
<div class=" position-relative col-md-4 col-xs-12 col-sm-10  histoire i mx-auto titre" >
  <div class="back-img">
  <img class="card-img-top" [src]="experience" alt="Card image cap">
</div>
  <div class="">
    <h5 class="card-title position-absolute text-light font-weight-bold">Experience</h5>
    <div class="overlay">
    <p class="card-text text-light">
        FindClean est là pour donner tout cela à la fois. 
      Et ne s'arrête pas là, de futur fonctionnalités vont voir le jour.
    </p>
    </div>
  </div>
</div>
</div>
