<div class="row d-flex flex-lg-row  justify-content-md-between  flex-md-row flex-sm-column flex-xs-column justify-content-between col-12 text-center text-dark mx-auto mt-5 body-background app-section">
  <h2 class="text-center col-12">A propos</h2>
  <div  class="col-md-4 col-xs-12 col-sm-10 histoire mx-auto">
    <img src="{{lavomatique}}" alt="" class="img-fluid mb-2  mt-2 col-12 img-histoire p-0">
    <h2 class="text-center col-12 mt-5 mb-3">Problème</h2>
    <p class="col-12 mx-auto text-justify">Face à l'immigration urbaine, face au panne, et pour les petits budgets... 
    Le problème du linge propres se pose de multiple façons. Alors on recours rapidement 
    au lavomatique du quartier. 
    Le problème est que souvent qu'on ne sait pas les situés, on ne sait pas si toutes les machines
    sont occupées, ou si le lavomatique est bon à fréquenter. </p>
  </div>
 <div  class="col-md-3 col-xs-12 col-sm-10 histoire  mx-auto p-0.1">
   <img src="{{reseautage}}" alt="" class="img-fluid mb-2 mt-2 col-12 img-histoire p-0 m-0">
   <h2 class="text-center col-12 mt-5 mb-3">Idée</h2>
   <p class="col-12 mx-auto text-justify">Notre idée est de mettre un outil multifonctionnel de réseautage, de localisation et de prise en main rapide
   à la porter de tous. Parce qu'un téléphone se tient dans la poche. 
   Votre machine à laver aussi est dans votre poche. Nous avons voulus facilité 
   l'accès à tous aux lavomatique, pour que vous soyez informés de la disponibilité de l'équipement avant même que vous vous déplacer
  mais aussi de la propreté du lieu, ainsi que de la frequentation du lieu.</p>
 </div>
 <div class="col-md-4 col-xs-12 col-sm-10 histoire i mx-auto">
   <img src="{{experience}}" alt="" class="img-fluid  mb-2 mt-2 col-12 img-histoire p-0">
   <h2 class="text-center col-12 mt-5 mb-3">Solution</h2>
   <p class="col-12 mx-auto text-justify ">  FindDry est là pour donner tout cela à la fois. 
   Outils de locationsation de lavomatique de la ville. 
   Il vous permet de noter les lavomatiques, de donner votre avis.
   Vous permet de partager aussi votre experience avec les habitants de votre 
   quartier. 
   C'est plus qu'un outils de dépannage de linge, c'est un outils de réseautage aussi. </p>
 </div>
</div>
