ul {
  list-style-position: inside;
  list-style-type: none;


}

li {
  cursor: pointer;
  display: inline;
  margin-left:70px;
}

a {
  text-decoration: none;
  text-transform: none;
}


ul li a:hover{
  color:black !important;
  transition-duration: 0.4s;

}

i{
  cursor: pointer;
}
