<div class="container">
  <div class=" row  mt-5 modifier text-light text-center">
    <div *ngFor="let info of profil$ | async" class="col-12">
        <div class="card bg-info text-light mx-auto">
            <div class="card-body">
              <h5 class="card-title"> Bonjour
                {{info.name}} {{info.firstname}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">voici vos informations personnelles :</h6>
              <p class="card-text">vous etes né le {{info.dateboren}} <br> vous êtes au {{info.address}} - {{info.cp}}
                -
                {{info.city}}
                <br>on peut vous joindre au {{info.phone}}
              </p>
            </div>
          </div>
          <ngb-alert *ngIf="!staticAlertClosed" type="success" (close)="staticAlertClosed = true"
          class="position-absolute alertbvn mx-auto"
          >Heureux de vous revoir {{info.name}} {{info.firstname}} !</ngb-alert>
    </div>
  </div>
</div>